#triangle-right {
     width: 0;
     height: 0;
     border-top: 50px solid transparent;
     border-left: 100px solid red;
     border-bottom: 50px solid transparent;
   }

   .links-list a {
     background-color:  #00C2A8;
     color: #fff;
     text-decoration: none;
     padding: 1em 2em;
   }
   .links-list a:hover {
     background-color: rgb(66, 28, 40);
     color: #fff;
   }
